body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: rgb(0, 79, 175);
  border-radius: 10px;
  padding: 10px;
  color: aliceblue;
}
.Furniture {
  margin: 5px 10px;
  padding: 10px;
  border: solid;
  display: inline-block;
  border-radius: 10px;
  margin: 20px;
  flex-direction: column;
  background-color: rgb(192, 218, 251);
  width: 600px;
}
.cart {
  margin: 20px;
  height: 30px;
  display: inline-block;
  background-color: white;
  border: none;
}
.new-price {
  color: rgb(0, 79, 175);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.old-price {
  color: grey;
  font-size: small;
}

#title h1 {
  padding: 200px;
}
.add-to-cart {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(0, 79, 175);
  border-radius: 10px;
  color: white;
  padding: 5px;
  width: 600px;
  height: 30px;
  text-align: center;
  border: none;
}
